.education{

    &__content{
        display: flex;
        &:last-child .education__line{
            display: none;
        }
    }
    &__time{
        padding-right: 1rem;
    }
    &__rounder{
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        background-color: var(--title-color);
        border-radius: 50%;
        margin-top: 0.25rem;
    }
    &__line{
        display: inline-block;
        width: 2px;
        height: 115%;
        background-color: var(--title-color);
        transform: translate(5px,0);
    }
    &__data{
        gap: 0.5rem;

    }
    &__title{
        font-size: var(--h3-font-size);
    }
    &__studies{
        font-size: var(--small-font-size);
        color: var(--title-color);
    }
    &__year{
        font-size: var(--small-font-size);
    }
    
}
.experience{
    &__content{
        display: flex;
        &:last-child .experience__line{
            display: none;
        }
    }
    &__time{
        padding-right: 1rem;
    }
    &__rounder{
        position: relative;
        display: block;
        width: 12px;
        height: 12px;
        background-color: var(--title-color);
        border-radius: 50%;
        margin-top: 0.25rem;
    
    }
    &__line{
        display: inline-block;
        width: 2px;
        height: 100%;
        background-color: var(--title-color);
        transform: translate(5px,0);
    }
    &__data{
        gap: 0.5rem;

    }
    &__title{
        font-size: var(--h3-font-size);
    }
    &__company{
        font-size: var(--small-font-size);
        color: var(--title-color);
    }
    &__desc{
        line-height: 1.5;
        margin-right: 0.5rem;
        
    }

}
