.references{
    &__content{
        gap: 0.25rem;
    }
    &__subtitle{
        color: $text-color-light;
    }
    &__subtitle,
    &__contact{
        font-size: $normal-font-size;
        font-weight: $font-semi-bold;
    }
    &__contact a , li{
        text-decoration: none;
        color: $text-color;
        line-height: 1.5;
    }
    &__title{
        font-size: $h3-font-size;
    }
}