.references{
    &__content{
        gap: 0.25rem;
    }
    &__subtitle{
        color: var(--text-color-light);
    }
    &__subtitle,
    &__contact{
        font-size: var(--normal-font-size);
        font-weight: var(--font-semi-bold);
    }
    &__contact a , li{
        text-decoration: none;
        color: var(--text-color);
        line-height: 1.5;
    }
    &__title{
        font-size: var(--h3-font-size);
    }
    @media screen and(min-width :968px) {
        &__container{
            display: grid;
            grid-template-columns: 2fr 1fr;
            gap: 1rem;
            padding: 0 1.25rem;
        }
       
    }
}