.social{
    &__link{
        color: var(--text-color);
        display: inline-flex;
        align-items: center;
        font-size: var(--small-font-size);
        &:hover{
            color: var(--title-color);
        }
    }
    &__container{
        grid-template-columns: max-content;
        gap: 1rem;
    }
    & i{
        font-size: 1.2rem;
        margin-right: 0.25rem;
    }
}
