$header-height: 3rem;

/*========== Colors ==========*/

    $title-color: #0B0A0A;
    $text-color: #403A3A;
    $text-color-light: #707070;
    $container-color: #FAFAFA;
    $container-color-alt: #F0EFEF;
    $body-color: #FCFCFC;
    



/*========== Font and typography ==========*/
$body-font:'Comfortaa',
cursive;
$h1-font-size: 1.5rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1rem;
$normal-font-size: .938rem;
$small-font-size: .875rem;
$smaller-font-size: .813rem;

/*========== Font weight ==========*/
$font-medium: 500;
$font-semi-bold: 700;

/*========== Margenes ==========*/
$mb-1: .5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;

/*========== z index ==========*/
$z-tooltip: 10;
$z-fixed: 100;

/*========= CSS Variables ===========*/ 
:root{
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;
    }

