@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;700&display=swap");
/*========== Colors ==========*/
/*========== Font and typography ==========*/
/*========== Font weight ==========*/
/*========== Margenes ==========*/
/*========== z index ==========*/
/*========== BASE ==========*/
body {
  margin: 0 0 3rem 0;
  padding: 0;
  font-family: "Comfortaa", cursive;
  font-size: 0.938rem;
  background-color: #FCFCFC;
  color: #403A3A;
}
body h1,
body h2,
body h3,
body ul,
body p {
  margin: 0;
}
body h1,
body h2,
body h3 {
  color: #0B0A0A;
  font-weight: 500;
}
body ul {
  padding: 0;
  list-style: none;
}
body a {
  text-decoration: none;
}
body img {
  max-width: 100%;
  height: auto;
}
body .section {
  padding: 1.5rem 0;
}
body .section-title {
  font-size: 1.25rem;
  color: #0B0A0A;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
body .bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
body .bd-grid {
  display: grid;
  gap: 1.5rem;
}
body .l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #FCFCFC;
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0, 25s;
}
body i {
  margin: auto 0.5rem;
}
@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }
  body .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  body .l-header,
body .scrolltop {
    display: none;
  }
  body .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: #FAFAFA;
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }
  body .resume__left {
    background-color: #F0EFEF;
  }
  body .resume__left, body .resume__right {
    padding: 0 1.5rem;
  }
  body .section-title {
    text-align: initial;
  }
}
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;
  border-radius: 0.5rem;
  z-index: 10;
  transition: 0.6s;
  background-color: #F0EFEF;
  color: #707070;
  font-size: 1.5rem;
  visibility: hidden;
}

.show-scroll {
  visibility: visible;
}

.change-theme {
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: #403A3A;
  font-size: 1.2rem;
  cursor: pointer;
}
.change-theme:hover {
  color: #0B0A0A;
}
.change-theme h1,
.change-theme h2,
.change-theme h3 {
  color: #0B0A0A;
}

.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo, .nav__toggle {
  color: #0B0A0A;
  font-weight: 500;
}
.nav__logo {
  display: flex;
  visibility: hidden;
  position: relative;
  align-items: center;
}
.nav__avatar {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 1px solid #403A3A;
  visibility: hidden;
  background-color: #0B0A0A;
}
.nav__toggle i {
  font-size: 2rem;
  cursor: pointer;
  margin: auto 0 auto;
}
.nav__item {
  text-align: center;
}
.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-right: 1.5rem;
}
.nav__link {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  color: #707070;
  font-weight: 500;
  transition: 0.35s;
}
.nav__link:hover {
  color: #0B0A0A;
  margin-bottom: 0.5rem;
}
.nav__icon {
  font-size: 1.2rem;
  margin: auto auto 0.5rem 0.5rem;
}
@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    /* dùng $header-height để show */
    left: 0;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #FCFCFC;
    box-shadow: 0 -1px 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 100;
    transition: 0.6s;
    border-radius: 8px 8px 0 0;
  }
  .nav__link {
    text-align: center;
  }
  .nav__link i {
    margin-bottom: 0.5rem;
  }
  .nav__list {
    margin: 0 auto;
  }
}
@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5 rem;
  }
}

.show-menu {
  bottom: 3rem;
}

.show-avatar {
  visibility: visible;
}

.home {
  position: relative;
}
.home .section-title {
  margin-top: 1rem;
  margin-bottom: 0;
}
.home__container {
  gap: 3rem;
}
.home__data {
  gap: 0.5rem;
  text-align: center;
}
.home__data h1 {
  margin-top: 1.5rem;
}
.home__img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  justify-self: center;
}
.home__title {
  font-size: 1.5rem;
}
.home__profession {
  font-size: 0.938rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.home__info {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #403A3A;
  text-decoration: none;
}
.home__info i {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}
.home__btn-movil {
  display: inline-block;
  border: 2px solid #0B0A0A;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  transition: 0.35s;
  font-weight: 500;
  margin-top: 1.5rem;
  color: #0B0A0A;
}
.home__btn-movil:hover {
  background-color: #403A3A;
  color: #FAFAFA;
  border: 2px solid #707070;
}
@media screen and (min-width: 968px) {
  .home__btn-movil {
    display: none;
  }
}

.social__link {
  color: #403A3A;
  display: inline-flex;
  align-items: center;
  font-size: 0.875rem;
}
.social__link:hover {
  color: #0B0A0A;
}
.social__container {
  grid-template-columns: max-content;
  gap: 1rem;
}
.social i {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.profile__desc {
  text-align: center;
  line-height: 1.5;
}
@media screen and (min-width: 968px) {
  .profile__desc {
    text-align: initial;
  }
}

.education__content {
  display: flex;
}
.education__content:last-child .education__line {
  display: none;
}
.education__time {
  padding-right: 1rem;
}
.education__rounder {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #707070;
  border-radius: 50%;
  margin-top: 0.25rem;
}
.education__line {
  display: inline-block;
  width: 2px;
  height: 120%;
  background-color: #707070;
  transform: translate(3px, 0);
}
.education__data {
  gap: 0.5rem;
}
.education__title {
  font-size: 1rem;
}
.education__studies {
  font-size: 0.875rem;
  color: #0B0A0A;
}
.education__year {
  font-size: 0.875rem;
}

.experience__content {
  display: flex;
}
.experience__content:last-child .education__line {
  display: none;
}
.experience__time {
  padding-right: 1rem;
}
.experience__rounder {
  position: relative;
  display: block;
  width: 8px;
  height: 8px;
  background-color: #707070;
  border-radius: 50%;
  margin-top: 0.25rem;
}
.experience__line {
  display: inline-block;
  width: 2px;
  height: 110%;
  background-color: #707070;
  transform: translate(7px, 0);
  opacity: 0;
}
.experience__data {
  gap: 0.5rem;
}
.experience__title {
  font-size: 1rem;
}
.experience__company {
  font-size: 0.875rem;
  color: #0B0A0A;
}
.experience__desc {
  line-height: 1.5;
  margin-right: 0.5rem;
}

.skills__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}
.skills__name {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}
.skills__circle {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: #403A3A;
  border-radius: 50%;
  margin-right: 0.75rem;
}

.references__content {
  gap: 0.25rem;
}
.references__subtitle {
  color: #707070;
}
.references__subtitle, .references__contact {
  font-size: 0.938rem;
  font-weight: 700;
}
.references__contact a, .references li {
  text-decoration: none;
  color: #403A3A;
  line-height: 1.5;
}
.references__title {
  font-size: 1rem;
}
@media screen and (min-width: 968px) {
  .references__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 0 1.25rem;
  }
}

.interests__container {
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
}
@media screen and (min-width: 968px) {
  .interests__container {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;
  }
}
.interests__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.interests__icon {
  font-size: 1.5rem;
  color: #707070;
  margin-bottom: 0.25rem;
}

/*# sourceMappingURL=styles.css.map */
